@CHARSET "ISO-8859-1";


.menu {
	background: #000000;
	position: absolute;
	top: 5px;
	right: 5px;
	color: #00ff00;
	border-radius: 0px;
	width: 200px;
	border: 0px solid #000000;
}

.menu a {
	font-size: 15px;
	font-family: "Gill Sans", sans-serif;	
	color: #00ff00;
	display: block;
	margin: 0;
	padding: 0;
	padding:5px 10px;
	text-decoration: none;
	border-bottom: 0px solid #000000;
	text-align: center;
}

.inputMenu {
	background: #000000;
	position: absolute;
	z-index: 100;
	top: 394px;
	right: 0px;
	border-radius: 0px;
	width: 200px;
	border: 0px solid #000000;
}

.inputMenu input[type='text'] {
	font-size: 15px;
	font-family: "Gill Sans", sans-serif;
	color: #000000;
	display: block;
	background: #c0c0c0;
	margin: 0;
	padding: 0;
	padding:5px 10px;
	width: 170px;
	text-decoration: none;
	border: 5px solid #363636;
	text-align: center;
}

.inputMenu a {
	font-size: 15px;
	font-family: "Gill Sans", sans-serif;
	color: #00ff00;
	display: block;
	margin: 0;
	left:-20px;
	padding: 0;
	padding:5px 10px;
	text-decoration: none;
	border-bottom: 0px solid #000000;
	text-align: center;
}

.customMenu {
	background: #000000;
	position: absolute;
	top: 126px;
	right: 0px;
	border-radius: 0px;
	width: 200px;
	border: 0px solid #000000;
	}

.customMenu a {
	font-size: 15px;
	font-family: "Gill Sans", sans-serif;
	color: #00ff00;
	display: block;
	margin: 0;
	padding: 0;
	padding: 5px 10px;
	text-decoration: none;
	border-bottom: 0px solid #000000;
	text-align: center;
}

.customMenu input[type='checkbox'] + label {
	display:inline-block;
	font-family: "Gill Sans", sans-serif;
	color: #c0c0c0;	
}